html {
  position: relative;
}
body {
  margin-bottom: 100px;
  margin-top: 20px;
}

nav {
  font-size: 16px;
  font-weight: bold;
}

.jumbotron {
  padding-top: 6rem;
  height: 500px;
  background-image: url(img/header.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: rgb(2, 2, 63);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.jumbotron h1,
.jumbotron p {
  font-weight: 400;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron img {
  border: 5px solid rgb(2, 2, 63);
}
section {
  padding-top: 5rem;
}

.project {
  background-color: rgb(245, 245, 245);
}
