* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: black;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
}
a {
  text-decoration: none;
}
/* header */
.main-container {
  width: 1200px;
  margin: 0 auto;
}

/* title */
.Experiences-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}
.title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: grey;
  position: relative;
  padding-left: 40px;
  font-weight: 400;
  font-size: 0.9rem;
}
/* menu */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.name {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}
.name a {
  color: black;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: black;
}

/* hero section */
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: violet;
}
.hero-right img {
  width: 99%;
}

.hero-right {
  display: flex;
  justify-content: center;
}
